body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#dce7f7;
}
form{
		margin: 0px;
}
.f12 {
	margin: auto;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #5e5e5e;
	text-decoration: none;
}
.f14 {
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #5e5e5e;
	text-decoration: none;
}
.f12en {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #5e5e5e;
	text-decoration: none;
}
.lanf12 {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 220%;
	font-weight: normal;
	color: #3a97ff;
	text-decoration: none;
}
.lanf14 {
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height: 170%;
	font-weight: bold;
	color: #0091ee;
	text-decoration: none;
}
.shurukuang {
	background-color:#f4f4f4;
	border-color:#b3b3b3;
	border-width:1px;
	border-style:solid;
	width:275px;
	height:30px;
	font-size:15px;
	line-height:30px;
	color:#4a7ebe;
	font-weight:bold;
	font-family:"宋体";
}
.shurukuang2 {
	background-color:#f4f4f4;
	border-color:#b3b3b3;
	border-width:1px;
	border-style:solid;
	width:520px;
	height:30px;
	font-size:15px;
	line-height:30px;
	color:#4a7ebe;
	font-weight:bold;
	font-family:"宋体";
}
.lanf16 {
	font-family: "微软雅黑";
	font-size: 16px;
	font-style: normal;
	line-height: 120%;
	font-weight: normal;
	color: #135191;
	text-decoration: none;
}
.f12l a:link {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #373737;
	text-decoration: none;
}
.f12l a:visited {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #373737;
	text-decoration: none;
}
.f12l a:hover {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FF0000;
	text-decoration: underline;
}
.f12l a:active {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FF0000;
	text-decoration: underline;
}
.baif12l a:link {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.baif12l a:visited {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.baif12l a:hover {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FF9900;
	text-decoration: underline;
}
.baif12l a:active {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FF9900;
	text-decoration: underline;
}
.dhyh a:link {
	font-family: "微软雅黑";
	font-size: 16px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.dhyh a:visited {
	font-family: "微软雅黑";
	font-size: 16px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.dhyh a:hover {
	font-family: "微软雅黑";
	font-size: 16px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FF9900;
	text-decoration: underline;
}
.dhyh a:active {
	font-family: "微软雅黑";
	font-size: 16px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FF9900;
	text-decoration: underline;
}
.f14l a:link {
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #373737;
	text-decoration: none;
}
.f14l a:visited {
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #373737;
	text-decoration: none;
}
.f14l a:hover {
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FF0000;
	text-decoration: underline;
}
.f14l a:active {
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FF0000;
	text-decoration: underline;
}
.f12l2 a:link {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #004d9b;
	text-decoration: none;
}
.f12l2 a:visited {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #004d9b;
	text-decoration: none;
}
.f12l2 a:hover {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FF0000;
	text-decoration: underline;
}
.f12l2 a:active {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 170%;
	font-weight: normal;
	color: #FF0000;
	text-decoration: underline;
}
.f14cul a:link {
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height: 170%;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.f14cul a:visited {
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height: 170%;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.f14cul a:hover {
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height: 170%;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.f14cul a:active {
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height: 170%;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
/* --------- End娣団剝浼呭锝嗘瀮 ----------------*/
/*pic scroll
----------------------------------*/
.interaction{
	margin-bottom:10px;
}
.interaction ul{
	height:112px;
	overflow:hidden;
}
.interaction ul li{
	margin:5px 0px;
	padding:5px 10px;
	background-color:#ecf2f5;
	color:#666;
}


.infiniteCarousel {
/**border:1px solid green;**/
  width: 100%;
  position: relative;
  margin-left:auto;
  margin-right:auto;
}

.infiniteCarousel .wrapper {
/**	border:1px solid red;**/
  width: 909px; 
  overflow: auto;
  height: 170px;
  margin: 0 30px;
  top: 0;
}
.infiniteCarousel ul a img {
  border:1px solid #E3E3E3;
  padding:2px;
  width:158px;
  height:106px;
  display:block;
}
.infiniteCarousel .wrapper ul {
  width: 880px; 
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  top: 0;
}
.infiniteCarousel ul li {
  display:block;
  color:#6C6D61;
  float:left;
  padding: 10px 6px;
  height: 150px;
  width: 170px;
  text-align:center;
}
.infiniteCarousel ul li a,
.infiniteCarousel ul li a:visited{
	color:#6C6D61;
}
.infiniteCarousel .wrapper ul li a:hover{
	text-decoration:underline;
}
.infiniteCarousel ul li a:hover img {
  border-color: #aaa;
}
.infiniteCarousel ul li a span{
	font-family: "瀹嬩綋";
	font-size: 14px;
	font-style: normal;
	line-height: 180%;
	font-weight: bold;
	color: #305991;
	text-decoration: none;
}
.infiniteCarousel .arrow {
  display: block;
  height: 150px;
  width: 26px;
  text-indent: -999px;
  position: absolute;
  top: 0px;
  cursor: pointer;
  outline: 0;
}
.infiniteCarousel .forward {
  background:url(../images/scszspic_26.png) no-repeat;
  top: 25px;
  right: 0;
}
.infiniteCarousel .back {
  background:url(../images/scszspic_25.png) no-repeat;
  top: 25px;
  left: 0;
}