
/*---------- import ---------*/
@import url("layout.css");
@import url("page.css");

body{
	font: 15px Verdana,Arial,Tahoma;
}

img{
	border:none;
}
a{
	color:#256EB1;
	text-decoration:none;
}
a:hover{
	color:#ba2636;
	text-decoration:underline;
}
ul{
	list-style:none;
}
input,select,button{
	font:12px Verdana,Arial,Tahoma;
	vertical-align:middle;
}

/*---------- stock ---------*/
.center{
	margin:0px auto;

}
.w960{
    background-color:white;
	width:1002px;
	position:relative;
}
.mt1{/* ( margin-top * 1 ) */
	margin-top:0px;
}
.pright .mt1{
	margin-top:0px;
}
.mt2{/* ( margin-top * 2 ) */
	margin-top:16px;
}
.clear{
	overflow:hidden;
}
.fs-12{
	font-size:12px;
}
.fc-f60{
	color:#F60;
}
.fc-f90{
	color:#F90;
}
.clr{
	clear:both;
	}
.ipt-txt{
	line-height:15px;
	padding:4px 5px;
	border-width:1px;
	border-style:solid;
	border-color:#666 #BBB #BBB #666;
	font-size:12px;
	margin-right:2px;
}
.nb{
	line-height:20x;
	padding:1px 2px;
	border-width:1px;
	border-style:solid;
	border-color:#666 #BBB #BBB #666;
	font-size:12px;
	margin-right:2px
}
.btn-1{
	width:56px;
	height:24px;
	border:none;
	background:url(images/comm-bt.gif) no-repeat;
	line-height:25px;
	letter-spacing:1px;
	cursor:pointer;
	overflow:hidden;
	color:#585858;
}
.btn-2{
	width:70px;
	height:25px;
	border:none;
	background:url(images/btn-bg2.gif) left top no-repeat;
	line-height:25px;
	overflow:hidden;
	color:#444;
	margin-right:2px;
	cursor:pointer;
}
/*---------- frame ---------*/

/* --------- 瀵艰埅 ----------------*/
.w963 {
	width:1002px;
}
#navMenu {
	background:url(images/bg-menu.jpg) repeat-x;
	width:960px;
	overflow:hidden;
	height: 28px;
	padding:8px 0 0 15px;
}
#navMenu ul {
	float:left;
	height: 22px;
}
#navMenu ul li {
    font:14px/1.5 "Microsoft YaHei","微软雅黑","Microsoft JhengHei","瀹嬩綋";
	float:left;	
	height: 22px;
	margin-right: 10px;
	margin-left: -3px;
	padding-left: 10px;
}
#navMenu ul li a {
	color: #FFF;
	height: 22px;
	text-decoration:none;
	display: inline-block;
	position: relative;
}
#navMenu ul li a.hover {
	color:#DEFF01;
	height: 22px;
	text-decoration:none;
	display: inline-block;
	position: relative;
}
    
#navMenu ul li span {
	cursor:pointer;
	display:inline-block;
	height:22px;
	line-height:20px;
	margin:0 0 0 5px;
	padding:0 5px 0 0;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
}
#navMenu ul li.hover {
	padding-top:0;
}
#navMenu ul li.hover a {
	display: inline-block;
	position: relative;
}
#navMenu ul li.hover span {
	cursor:pointer;
	display:inline-block;
	height:22px;
	line-height:20px;
	margin:0 0 0 5px;
	padding:0 5px 0 0;
	text-align:center;
	vertical-align:middle;
}
#navMenu ul li a.hover, #navMenu ul li a:hover {
	text-decoration:none;
    color:#DEFF01;
	display: inline-block;
	position: relative;
}
#navMenu ul li a.hover span, #navMenu ul li a:hover span {
	cursor:pointer;
	display:inline-block;
	height:22px;
    color:#DEFF01;
	line-height:20px;
	margin:0 0 0 5px;
	padding:0 5px 0 0;
	text-align:center;
	vertical-align:middle;
}

/*-- //End 瀵艰埅鑿滃崟 --*/
.position{
	height:25px;
	font-size:12px;
	color:#666;
	padding:6px 30px;
	border-top:1px #DADADA solid;
	border-left:1px #DADADA solid;
	border-right:1px #DADADA solid;
	background:url(images/icon/ico_arrow.gif) 15px 8px no-repeat;
}
/* --------- 鐧婚檰----------------*/
.login{
	border:1px solid #94cfe4;
	margin:160px auto; 
	height:250px; 
	width:450px; 
	border:1px #3076d9 solid; 
	background:url(images/msg.png) no-repeat;
	position:relative;
}
.login h2{color:#fff;padding-left:30px;}
.login input{
	height:20px;
}
.otherlink{bottom:10px; position:absolute;padding-left:20px;}
.otherlink a{margin-right:100px; font-size:14px;}
/* --------- 鐧婚檰End ----------------*/
/* --------- 娉ㄥ唽 ----------------*/
.register{
	padding:0px 50px;
}
.register input{
	height:20px;
	margin:10px 0px;
}
.register p span{ width:100px; border:1px red solid;}

.poptip{
	position:absolute;
	top: 20px;
	left:20px;
	padding: 6px 10px 5px;
	*padding: 7px 10px 4px;
	line-height: 16px;
	color: #DB7C22;
	font-size: 12px;
	background-color: #FFFCEF;
	border: solid 1px #FFBB76;
	border-radius: 2px;
	box-shadow: 0 0 3px #ddd;
}
.poptip-arrow{
	position: absolute;
	overflow: hidden;
	font-style: normal;
	font-family: simsun;
	font-size: 12px;
	text-shadow:0 0 2px #ccc;
}
.poptip-arrow em,.poptip-arrow i{position: absolute;left:0;top:0;font-style: normal;}
.poptip-arrow em{color:#FFBB76;}
.poptip-arrow i{color:#FFFCEF;text-shadow:none;}
.poptip-arrow-left{height: 12px;width: 6px;top: 12px;margin-top:-6px;left:-6px;}
.poptip-arrow-left em{left:1px;}
.poptip-arrow-left i{left:2px;}
/* --------- 娉ㄥ唽End ----------------*/
/* ---------鍥剧墖杞挱End ----------------*/
#hotpic { width: 370px; height: 228px; overflow: hidden; margin: 0 auto; }
#NewsPic { position: relative; width: 368px; height: 184px; overflow: hidden; border: solid 1px #000; }
#NewsPic a { overflow: visible; border: 0; text-decoration: none; }
#NewsPic .Picture { position: absolute; left: 0; top: 0; }
#NewsPic .Nav { position: absolute; height: 13px; line-height: 14px; bottom: 0; right: 0; }
#NewsPic .Nav span { font-size: 12px; font-weight: 400; color: #FFF; float: right; display: block; width: 24px; text-align: center; background: #000; border-left: solid 1px #FFF; cursor: pointer; }
#NewsPic .Nav span.Normal { color: #FFF; background: #000; filter: Alpha(opacity=50); opacity: .5; }
#NewsPic .Nav span.Cur { background: #ce0609; color: #FFF; }
#NewsPicTxt { position: relative; width: 380px; height: 22px; border: 1px; margin: 0; padding-top: 4px; text-align: center; font-family: Sans-Serif; font-weight: 700; color: #000; font-size: 14px; margin-left: auto; margin-right: auto; margin-top: 3px; }
#NewsPicTxt a:link, #NewsPicTxt a:visited { font-family: "Microsoft Yahei"; font-size: 16px; font-weight: 700; color: #000; text-decoration: none; }
#NewsPicTxt a:hover {color: red;}
/* ---------鍥剧墖杞挱End ----------------*/

/* --------- 淇℃伅鍒楄〃 ----------------*/
.textlist{
	padding:10px 20px;
 	border:1px #DCDCDC ;
 	solid:none;
	height:594px;
}
.textlist ul li{
	font-size:13px;
	font-weight: normal;
	padding-left:10px;
	margin:5px 0px;
	background:url(../../images/news/ico-4.gif) 0px 4px no-repeat;
	line-height:20px;
	height:20px;
}

.textcover{
	padding:10px 20px;
 	border:1px #DADADA solid;
	overflow:hidden;
	height:594px;
}
.textcover ul li h2{
 	padding-left:15px;
	background:url(images/icon/a_04.gif) 0 2px no-repeat;
}
.textcover ul li ul li{
	font-size:13px;
	font-weight: normal;
	margin:5px 10px;
	padding-left:10px;
	background:url(../../images/news/ico-4.gif) 0px 2px no-repeat;	
	line-height:20px;
	height:20px;
}
.piclist{ border:1px #dadada solid; padding:10px 10px; height:594px;}
.piclist li{
	width:140px;
	overflow:hidden;
	height:125px;
	border:1px #dadada solid;
	float:left;
	margin:10px 5px;
	padding:5px 10px;
	text-align:center;
}
.piclist li a.pic{
	display:block;
	width:140px;
	height:100px;
	margin-bottom:5px;
}

.videolist{ border:1px #dadada solid; padding:10px 10px; height:594px;}
.videolist li{
	width:140px;
	height:140px;
	overflow:hidden;
	border:1px #dadada solid;
	float:left;
	margin:10px 5px;
	padding:5px 10px;
	text-align:center;
}
.videolist li a.videopic{
	display:block;
	width:140px;
	height:100px;
	margin-bottom:5px;
}
.videolist li a.videopic:hover{
	background:url(images/play.png) no-repeat;
}
.videolist li p{
	margin-top:5px;
	height:20px;
	background:url(images/play.png) 12px 0px no-repeat;
}

.productlist{border:1px #dadada solid; padding:10px 10px; height:594px;}
.productlist li{
	width:198px;
	height:275px;
	overflow:hidden;
	border:1px #dadada solid;
	float:left;
	margin:5px 5px;
	padding:5px 10px;
	text-align:center;
}
.productlist li a.productpic{
	display:block;
	width:200px;
	height:220px;
	_height:230px;
	overflow:hidden;
	margin-top:5px;
	margin-bottom:10px;
}
.productlist li p{
	height:20px;
}
.productlist li p span{
	color:red;
	font-size:14px;
	font-weight:bold;
}
.taglist{
	padding:20px 20px;
	border:1px #dadada solid;
	height:575px;
}
.taglist li{
	float:left;
	height:30px;
	line-height:30px;
	text-align:center;
	width:50px;
	margin:10px 10px;
	background-color:#eaf2fa;
}

div#Container { margin: 0 auto; width: 960px; position: relative; background-color: #fff; }
.iconCreate { background: url(images/bg_CssSprite.gif) no-repeat 0px -360px; padding-left: 20px; }
.Bold { font-weight: bold; }
.Hidden { display: none; }
.DateTime { font-size: 9px; font-family: Verdana; }
.Font12 { font-size: 12px; }
.Font14 { font-size: 14px; }
.BtnNormal { padding: 0 6px; font-size: 12px; background: url(images/bg_Button1.gif) repeat-x; border: 1px solid #0771bb; height: 22px; }
.TextBox, .TextBoxNormal, .TextBoxMid, .TextBoxMultiline, .TextBoxMultilineLow, .TextBoxMultilineShort, .TextBoxMultilineHigh { border: solid 1px #b8c9de; border-left-width: 1px; }
.TextBoxNormal { width: 380px; }
.TextBoxMid { width: 260px; }
.TextBoxShort { width: 60px; }
.TextBox { border-width: 1px; }
.TextBoxMultiline, .TextBoxMultilineLow, .TextBoxMultilineShort, .TextBoxMultilineHigh { width: 380px; height: 100px; overflow: auto; }
.TextBoxMultilineLow { height: 50px; }
.TextBoxMultilineShort { width: 300px; height: 80px; }
.TextBoxMultilineHigh { height: 240px; }
.Clearer { display: block; clear: both; font-size: 1px; line-height: 1px; margin: 0; padding: 0; }
.FlLeft { float: left; }
.FlRight { float: right; }
span.LiTitle { float: left; }
span.LiDate { float: right; }
.Tips { font-size: 12px; color: #999; }
.Alerts { font-size: 12px; color: #900; }
hr.Line1 { height: 1px; color: #ccc; }
.HS05, .HS10, .HS15, .HS20 { overflow: hidden; clear: both; }
.HS05 { height: 5px; }
.HS10 { height: 10px; }
.HS15 { height: 15px; }
.HS20 { height: 20px; }
.DashedLine { border-bottom: 1px dashed #ccc; }
.Btn { width: 54px; height: 25px; text-align: center; background: url(images/Common/BtnBg.jpg) no-repeat; color: #333; font-size: 12px; border: 0; cursor: pointer; display:inline-block; line-height:25px; }
/* --------- //End  淇℃伅鍒楄〃 ----------------*/
/* --------- 浼氬憳涓績 ----------------*/
.setting{
	border:none;width:200px;
}
.setting dd{
	border:1px #dadada solid;
	border-top:none;
	padding-top:10px; 
	height:150px;
}
.setting li{
	padding-left:30px;
	height:25px;
	line-height:25px;
}
.setting li.personal{
	background:url(images/icon/vcard.png) 10px 5px no-repeat;
}
.setting li.password{
	background:url(images/icon/icon_key.gif) 10px 5px no-repeat;
}
.setting li.email{
	background:url(images/icon/mail.jpg) 10px 8px no-repeat;
}
.showinfo{
	border:none;width:750px;
}
.showinfo dd{
	border:1px #dadada solid;
	border-top:none;
}

.memberinfo{
	margin:10px 10px;
}
.memberinfo span{
	color:#777;
	float:right;
	height:25px;
	line-height:25px;
	padding-right:10px;
}
.memberinfo td{
	border-bottom:1px #eee solid;
}

.votetitle{
	margin:10px 0px;
	background:url(images/vote.png) no-repeat;
	padding-left:25px;
}

/* --------- 浼氬憳涓績End ----------------*/
/* --------- 淇℃伅鎻愮ず----------------*/
.operation{
	border:1px solid #94cfe4;
	margin:160px auto; 
	height:150px; 
	width:400px; 
	border:1px #3076d9 solid; 
	background:url(images/msg.png) no-repeat;
}
.operation h2{color:#fff;padding-left:30px;}
.operation ul{
	margin-top:40px;
}
.operation li.success,.operation li.error,.operation li.warning{
	padding-left:110px;
	height:34px;
	line-height:34px;
	background:url(images/msg_bg.png) transparent no-repeat;
}
.operation li.success{
	background-position:60px -600px;
}
.operation li.warning{
	background-position:60px -500px;
}
.operation li.error{
	background-position:60px -400px;
}
.operation p{
	height:20px;
	padding-top:5px;
	background-color:#e4ecf7;
	text-align:center; 
	margin-top:29px;
}
/* --------- 淇℃伅鎻愮ずEnd----------------*/


/* --------- 淇℃伅姝ｆ枃 ----------------*/
.textinfo{
 border:1px solid #DADADA;
 padding:0px 10px;
}
.textinfo .title{
 text-align:center;
 margin-bottom:20px;
}
.infoattr{
	margin-bottom:30px;
	padding-bottom:10px;
	border-bottom:1px #DADADA solid;
}
.infoattr span{
	margin-right:10px;
}
.textinfo .text{


 text-indent:2em;
 line-height:28px;
 font-size:14px;
}

.starBox {width:530px;margin-top:15px;}
.star_wrap, #ulStars{width: 120px; height: 18px; overflow: hidden; float: left; }
.ulStars li { width: 19px; height: 18px; background: url(images/bg.gif) no-repeat -278px -96px; float: left; margin-right: 5px; cursor: pointer; }
.ulStars li.good { background: url(images/bg.gif) no-repeat -278px -52px; }
.ulStars li.bad { background: url(images/bg.gif) no-repeat -278px -73px; }
.tip { width: 171px; height: 67px; background: url(images/bg.gif) no-repeat -40px -167px; padding: 15px 3px 0 5px; line-height: 18px; }
.txtStar { position: absolute; left: 0; top: -30px; }
.rate_1_result { line-height: 25px; text-indent: 15px; color: Red; }

.mood{
	padding-top:20px;
	height:120px;
	width:540px;
	margin:0 auto;
}
.mood li{
	float:left;
	padding:3px 10px;
	margin:0px 5px;
	cursor:pointer;
}
.mood li p{
	text-align:center;
	margin-top:5px;
}
.digg{
	height:40px;
	width:300px;
	margin:0 auto;
}
.digg a.supports,.digg a.supports:hover,.digg a.againsts,.digg a.againsts:hover{
	background:url(images/digg.png) no-repeat;
}
.digg a.supports{
	width:140px;
	height:40px;
	overflow:hidden;
	background-position:0px -1px;
}
.digg a.supports:hover{
	background-position:0px -51px;
}
.digg a.againsts{
	width:140px;
	height:40px;
	background-position:-150px -1px;
	overflow:hidden
}
.digg a.againsts:hover{
	background-position:-150px -51px;
}
#diggs,#burys{
	font-size:14px; 
	font-weight:bold;
	padding:10px 80px;
	display:block;
}
.downinfo{
 border:1px solid #DADADA;
 padding:0px 30px;
}
.downinfo .title{
 text-align:center;
 margin-bottom:20px;
}
.downattr{}
.downattr .downlink{margin-left:50px;font-size:18px; font-family:'Microsoft Yahei'; font-weight:bold;} 

.downpic p{float:left;}
.downargs td{ 
	width:105px;
	height:25px;
}

.productinfo{
	border:1px solid #DADADA;
 	padding:0px 30px;
}
.productinfo .title{
 text-align:center;
 margin-bottom:20px;
 color:red;
}
.productattr{
	width:980px;
	padding-left:50px;
}
.physicalpic{
	float:left;
}
.productargs{
	float:left;
	margin-top:20px;
}
.productargs p{
	margin:10px 0px;
}
.productargs p img{ 
	cursor:pointer;
}
.productargs p span{
	color:red;
	font-size:14px;
	font-weight:bold;
}
.product-title{
	border:1px #dadada solid;
	height:30px;
}
.product-title span{
	float:left;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-right:1px #dadada solid;
}
.product-cont ul{ height:700px; overflow:scroll;}
label.error{
	color:red;
	padding:5px 30px;
	background:url(images/msg_bg.png) 10px -45px transparent no-repeat
}

/*----------鐩稿叧鏂囩珷--------*/
.othernews{
	height:60px;
	border:1px solid #DADADA;
	margin-top:8px;
}
.othernews li{
	height:15px;
	margin:10px 10px;
}
.spanleft{
	float:left;
}
.spanright{
	float:right;
	color:#ABA9A2;
}
.reletednews{
	border:1px solid #DADADA;
	overflow:hidden;
	margin:8px 0px;
}
.reletednews p{
	margin:10px 10px;
	padding-bottom:5px;
	border-bottom:1px dashed #DADADA;
}
.reletednews li{
	height:15px;
	margin:10px 10px;
	list-style:none
}
/*----------//End鐩稿叧鏂囩珷--------*/
/*----------璇勮--------*/
.comment{
	border:1px solid #94cfe4;
	margin-top:8px;
	overflow:hidden;
	padding:10px 10px;
}
.comment textarea{
	margin:10px 0px;
	width: 562px;
    height: 80px;
	overflow:hidden;
	border:1px #94cfe4 solid;
	line-height: 24px;
}
.comment #captcha{
	height:30px;
	width:100px;
	font-size:20px;
	vertical-align:middle;
	margin-left:5px;
	line-height: 30px;
}
.comment .authcode{
	margin-top:0px 10px;
	line-height:30px;
}
.autherimg{
	display:none;
}
#auther{
 vertical-align:middle;
}
.comment  #commit{
	cursor:pointer;
	margin-top:10px;
	width:100px;
	height:30px;
	background:none;
	background:url(images/commit2.png) 0px -3px no-repeat;
	border:none;
}
/*----------End璇勮--------*/
/*----------鐣欒█鏉�-------*/
.guestbook{
	border:1px #dadada solid;
	padding:10px 10px;
}
.guestbookcon{
	border:1px #dadada solid;
	background-color:#ecf2f5;
	margin-bottom:10px;
	padding-left:10px;
}
.guestbookcon p{
	margin:10px 0px;
}
.guestbookcon p span{
	color:#ff9900;
}
.guestbookform{
	border:1px solid #94cfe4;
	margin-top:8px;
	overflow:hidden;
	padding:10px 10px;
}
.guestbookform p{
	margin:10px 0px;
}
.guestbookform textarea{
	margin:10px 10px;
	width: 562px;
    height: 80px;
	overflow:hidden;
	border:1px #94cfe4 solid;
	line-height: 24px;
}
.guestbookform #captcha{
	height:25px;
	width:100px;
	font-size:20px;
	vertical-align:middle;
	margin-left:27px;
	line-height: 30px;
}
.guestbookform .authcode{
	margin-top:0px 10px;
	line-height:30px;
}
guestbookform .autherimg{
	display:none;
}
guestbookform #auther{
 vertical-align:middle;
}
.guestbookform  #commit{
	width:60px;
	height:30px;
	margin-left:50px;
}


/* --------- End鍒嗛〉 ----------------*/
.paged{
	margin:30px 0px;
	padding-left:30%;
	height:26px;
	line-height:26px;
	font-size:12px;
}
.page-a{
	display:block;
	float:left;
	padding:0 8px;
	margin:0 3px;
	background-color:#f0f0f0;
	border:#cccccc solid 1px;
}
.page-a:link,.page-a:visited{
	text-decoration:none;
	color:#000000;
}
.page-a:hover,.page-a:active{
	text-decoration:none;
	color:#ff6600;
}
.page-curr{
	display:block;
	float:left;
	padding:0 8px;
	margin:0 3px;
	background-color:#ffffff;
	border:#ff6600 solid 1px;
	color:#ff6600;
}
.page-curr:link,.page-curr:visited{
	text-decoration:none;
	color:#ff6600;
}
.page-curr:hover,.page-curr:active{
	text-decoration:none;
	color:#ff6600;
}
.submitBtn{
	 BORDER-RIGHT: #7b9ebd 1px solid;
	  PADDING-RIGHT: 1px;
	  BORDER-TOP: #7b9ebd 1px solid;
	  PADDING-LEFT: 1px;
	  FONT-SIZE: 12px;
	  FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde);
	  BORDER-LEFT: #7b9ebd 1px solid;
	  CURSOR: hand;
	  COLOR: black;
	  PADDING-TOP: 2px;
	  PADDING-BOTTOM: 2px;
	  BORDER-BOTTOM: #7b9ebd 1px solid
}
/* --------- End鍒嗛〉 ----------------*/



