{% extends "base_page.html" %}
{% load static %}

{% block line %}
        <td height="41" align="center" class="dhyh"
        	>&nbsp;&nbsp;<a href="/homeindex">首页</a>&nbsp;&nbsp;</td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/homenews" >新闻资讯</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/hometraceability" >在线追溯</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/homelegal" >政策法规</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/homenotice" >通知公告</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/homeexposure" >曝光预警</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"

					 	>
					 	<a href="/homeindex/homegroup" >企业展示</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/homeknow" >知识讲堂</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
                                                  bgcolor="#184B83"
					 	>
					 	<a href="/homeindex/homeintroduction" >平台介绍</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/homecomm" >联系我们</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>

{% endblock line %}

{% block location %}
    当前位置：<a href="//www.sctrace.org/zscp/">首页</a>><a href="http://www.sctrace.org/zscp/info/583.jspx">平台介绍</a>>正文
{% endblock location %}

{% block title %}
NBS肉类食品溯源平台追溯平台

{% endblock title %}

{% block time %}
2022-05-04
{% endblock time %}

{% block num %}
不计数
{% endblock num %}

{% block page %}
<div class="text"><table width="270" align="left" class="f12" cellspacing="0" cellpadding="12" uetable="null"><tbody><tr class="firstRow"><td align="middle"><img width="238" height="198" src="{% static "images/20141113112131_2mth5a09li.png" %}"/></td></tr></tbody></table><p style="text-align: left; text-indent: 2em;">产品质量信息追溯是应用物品编码技术，建立的以产品供应链质量信息电子记录为基础的信息追溯系统。系统以物品编码技术为基础，对产品生产过程关键节点的质量控制信息进行采集与记录，并通过唯一的产品识别标识实现生产过程质量信息的查询和溯源。NBS肉类食品质量追溯平台实现了产品从原料到销售全过程的信息跟踪与溯源，最大限度降低了市场信息不对称，促进了企业严格自律、诚实守信的生产经营，进一步提高管理水平，提升产品质量，树立品牌，同时也促进了消费者明白消费、放心消费，重塑消费信心，还可以协助监管部门对质量事件及时作出预警和召回，减少事故损失，维护稳定、和谐的市场秩序。</p><p style="text-align: left; text-indent: 2em;">目前平台可追溯产品以肉类产品为，通过该系统不但可以能够保障消费者的身体健康和合法权益，更能够提高我国肉类食品的国际竞争力。热诚欢迎广大消费者使用，诚邀诚信企业加入！</p><p style="text-align: left; text-indent: 2em;">技术支持：LiuYM</p><p style="text-align: left; text-indent: 2em;">联系电话：18709319224</p><p style="text-align: left; text-indent: 2em;">电子邮箱：406508998@QQ.COM</p><p>&nbsp;</p></div>
{% endblock page %}

{% block mline %}
      <ul class="nav navbar-nav">
        <li class=""><a href="/homeindex/homenews">新闻资讯</a></li>
        <li class=""><a href="/homeindex/hometraceability">在线追溯</a></li>
        <li class=""><a href="/homeindex/homelegal">政策法规</a></li>
        <li class=""><a href="/homeindex/homenotice">通知公告</a></li>
        <li class=""><a href="/homeindex/homeexposure">曝光预警</a></li>
        <li class=""><a href="/homeindex/homegroup">企业展示</a></li>
        <li class=""><a href="/homeindex/homeknow">知识讲堂</a></li>
        <li class="active"><a href="/homeindex/homeintroduction">平台介绍</a></li>
        <li class=""><a href="/homeindex/homecomm">联系我们</a></li>
      </ul>
{% endblock mline %}


{% block mtitle %}
        asd
{% endblock mtitle %}

{% block mtime %}
2015-9-6
{% endblock mtime %}

{% block mnum %}
14
{% endblock mnum %}

{% block mpage %}
xhyufcejngvre4861v496r284htvrwrh4892wheyb8448
{% endblock mpage %}