{% extends "base_page.html" %}
{% load static %}


{% block line %}
        <td height="41" align="center" class="dhyh"
        	>&nbsp;&nbsp;<a href="/homeindex">首页</a>&nbsp;&nbsp;</td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/homenews" >新闻资讯</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}g"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/hometraceability" >在线追溯</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/homelegal" >政策法规</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/homenotice" >通知公告</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/homeexposure" >曝光预警</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"

					 	>
					 	<a href="/homeindex/homegroup" >企业展示</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/homeknow" >知识讲堂</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
					 	>
					 	<a href="/homeindex/homeintroduction" >平台介绍</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>
					<td align="center" class="dhyh"
                    bgcolor="#184B83"
					 	>
					 	<a href="/homeindex/homecomm" >联系我们</a>
					 </td>
					        <td width="2" background="{% static 'images/scszspic_2.png' %}"></td>

{% endblock line %}



{% block location %}
当前位置：<a href="//www.sctrace.org/zscp/">首页</a>><a href="http://www.sctrace.org/zscp/info/583.jspx">联系我们</a>
{% endblock location %}

{% block title %}
联系我们
{% endblock title %}

{% block time %}
2022-05-04
{% endblock time %}

{% block num %}
不统计
{% endblock num %}

{% block page %}

联系电话：18709319224

{% endblock page %}


{% block mline %}
      <ul class="nav navbar-nav">
        <li class=""><a href="/homeindex/homenews">新闻资讯</a></li>
        <li class=""><a href="/homeindex/hometraceability">在线追溯</a></li>
        <li class=""><a href="/homeindex/homelegal">政策法规</a></li>
        <li class=""><a href="/homeindex/homenotice">通知公告</a></li>
        <li class=""><a href="/homeindex/homeexposure">曝光预警</a></li>
        <li class=""><a href="/homeindex/homegroup">企业展示</a></li>
        <li class=""><a href="/homeindex/homeknow">知识讲堂</a></li>
        <li class=""><a href="/homeindex/homeintroduction">平台介绍</a></li>
        <li class="active"><a href="/homeindex/homecomm">联系我们</a></li>
      </ul>
{% endblock mline %}



{% block mtitle %}
联系我们
{% endblock mtitle %}

{% block mtime %}
2022-05-04
{% endblock mtime %}

{% block mnum %}
不统计
{% endblock mnum %}

{% block mpage %}
联系电话：18709319224
{% endblock mpage %}