{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>

    
    <!--页面主要内容-->
    {% block main %}
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                
                <div class="masonry-grid gap-2" data-provide="photoswipe">
                
                  <a class="masonry-item" href="#">
                    <img src="images/gallery/1.jpg" alt="The selected child description">
                  </a>
                
                  <a class="masonry-item" href="#">
                    <img src="images/gallery/5.jpg" alt="The selected child description">
                  </a>
                
                  <a class="masonry-item" href="#">
                    <img src="images/gallery/2.jpg" alt="The selected child description">
                  </a>
                
                  <a class="masonry-item" href="#">
                    <img src="images/gallery/3.jpg" alt="The selected child description">
                  </a>
                
                  <a class="masonry-item" href="#">
                    <img src="images/gallery/4.jpg" alt="The selected child description">
                  </a>
                
                  <a class="masonry-item" href="#">
                    <img src="images/gallery/9.jpg" alt="The selected child description">
                  </a>
                
                  <a class="masonry-item" href="#">
                    <img src="images/gallery/6.jpg" alt="The selected child description">
                  </a>
                
                  <a class="masonry-item" href="#">
                    <img src="images/gallery/7.jpg" alt="The selected child description">
                  </a>
                
                  <a class="masonry-item" href="#">
                    <img src="images/gallery/8.jpg" alt="The selected child description">
                  </a>
                
                  <a class="masonry-item" href="#">
                    <img src="images/gallery/10.jpg" alt="The selected child description">
                  </a>
                
                  <a class="masonry-item" href="#">
                    <img src="images/gallery/11.jpg" alt="The selected child description">
                  </a>
                
                  <a class="masonry-item" href="#">
                    <img src="images/gallery/13.jpg" alt="The selected child description">
                  </a>
                
                  <a class="masonry-item" href="#">
                    <img src="images/gallery/14.jpg" alt="The selected child description">
                  </a>
                
                </div>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    {% endblock main %}
    <!--End 页面主要内容-->
