{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
    <!--页面主要内容-->
    {% block main %}
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-toolbar clearfix">
                <form class="pull-right search-bar" method="get" action="#!" role="form">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <input type="hidden" name="search_field" id="search-field" value="title">
                      <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                      标题 <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="title">标题</a> </li>
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="cat_name">栏目</a> </li>
                      </ul>
                    </div>
                    <input type="text" class="form-control" value="" name="keyword" placeholder="请输入名称">
                  </div>
                </form>
                <div class="toolbar-btn-action">
                  <a class="btn btn-primary m-r-5" href="javascript:;" id="add"><i class="mdi mdi-plus"></i> 新增</a>
                  <a class="btn btn-success m-r-5" href="#!"><i class="mdi mdi-check"></i> 启用</a>
                  <a class="btn btn-warning m-r-5" href="#!"><i class="mdi mdi-block-helper"></i> 禁用</a>
                  <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
                </div>
              </div>
              <div class="card-body">
                
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          <label class="lyear-checkbox checkbox-primary">
                            <input type="checkbox" id="check-all"><span></span>
                          </label>
                        </th>
                        <th>部位编号ID</th>
                        <th>动物编号ID</th>
                        <th>屠宰时间</th>
                        <th>屠宰员工</th>
                        <th>身体部位</th>
                        <th>检疫情况</th>
                        <th>屠宰场编号</th>
                        <th>屠宰员工</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                          {% for i in sli %}
                      <tr>
                        <td>
                          <label class="lyear-checkbox checkbox-primary">
                            <input type="checkbox" name="ids[]" value="1"><span></span>
                          </label>
                        </td>
                        <td>{{ i.id }}</td>
                        <td>{{ i.aid.id }}</td>
                        <td>{{ i.create_time }}</td>
                        <td>{{ i.sid.aeid.username }}</td>
                        <td>{{ i.sid.patch }}</td>
                        <td>
                            {% if i.safe == True %}
                                {{ "合格" }}
                            {% else %}
                                {{ "不合格" }}
                            {% endif %}
                        </td>
                        <td>{{ i.license }}</td>
                        <td><font class="text-success">{{ i.user }}</font></td>
                        <td>
                          <div class="btn-group">
                            <a class="btn btn-xs btn-default" href="#!" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                            <a class="btn btn-xs btn-default" href="#!" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                          </div>
                        </td>
                      </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
                <ul class="pagination" id="pager">

                {% if mess.has_previous %}
                    {#  当前页的上一页按钮正常使用#}
                    <li class="previous"><a href="/slaughter/slaughterboard?page={{ mess.previous_page_number }}">上一页</a></li>
                {% else %}
                    {# 当前页的不存在上一页时,上一页的按钮不可用#}
                    <li class="previous disabled"><a href="#">上一页</a></li>
                {% endif %}
                {#上一页按钮结束#}
                {# 页码开始#}
                {% for num in paginator.page_range %}

                    {% if num == currentPage %}
                        <li class="item active"><a href="/slaughter/slaughterboard?page={{ num }}">{{ num }}</a></li>
                    {% else %}
                        <li class="item"><a href="/slaughter/slaughterboard?page={{ num }}">{{ num }}</a></li>

                    {% endif %}
                {% endfor %}
                {#页码结束#}
                {# 下一页按钮开始#}
                {% if mess.has_next %}
                    <li class="next"><a href="/slaughter/slaughterboard?page={{ mess.next_page_number }}">下一页</a></li>
                {% else %}
                    <li class="next disabled"><a href="#">下一页</a></li>
                {% endif %}
                {# 下一页按钮结束#}
                </ul>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    {% endblock main %}
    <!--End 页面主要内容-->

{% block footjs %}

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.min.js' %}"></script>
<script src="{% static '/layer/layer.js' %}"></script>

<script>
    $(function(){
    $('.search-bar .dropdown-menu a').click(function() {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
    });

    !function(){
    //关于
    $('#add').on('click', function(){
      layer.ready(function(){
      layer.open({
        type: 2,
        title: '动物信息录入',
        maxmin: true,
        area: ['800px', '500px'],
        content: 'http://www.baidu.com',
        end: function(){
          layer.tips('点击继续添加', '#add', {tips: 1})
        }
      });
    });
    });

    }();
</script>
{% endblock footjs %}



